page-lpcreport {
    ion-header {
        ion-navbar {
            div {
                background: #008cba !important;
            }
            ion-title {
                div {
                    color: #ffffff !important;
                }
            }
            ion-icon {
                color: #ffffff !important;
            }
        }
    }
    ion-content {
        .scroll-content {
            background: #dddddd !important;
        }
        .drop-list {
            padding: 5px;
        }
        ion-icon {
            position: relative;
            left: calc(100% - 30px);
            top: -30px;
            font-size: 20px;
        }
        ion-card {
            // margin: 10px 0 !important;
            // width: 100% !important;
        }
        ion-list {
            background: #ffffff;
            margin: 0 10px !important;
        }
        .input-list {
            padding: 10px;
            ion-item {
                border: 0 !important;
                padding: 0 !important;
                box-shadow: none !important;
            }
            ion-label {
                color: #252b3b !important;
                margin: 10px 0 !important;
                font-size: 14px;
            }
            ion-input {
                border: 1px solid #d8dbe2;
                border-radius: 4px;
                padding: 3px 10px;
                width: 100%;
            }
            ion-input:active, ion-input:focus {
            // border-color: $focus;
            }
            ion-item {
                padding: 0 !important;
            }
        
            .item-inner {
                border: 0 !important;
                padding: 0 !important;
                box-shadow: none !important;
            }
        }        
    }
}
